/* 
    Created on : 31-gen-2016, 20.15.20
    Author     : gflor
*/

.fadein { 
    position:   relative;
    height:     380px;
    width:      480px;
    margin:     0 auto;
    
    clear:      both;
    
}

.fadein img {
    position: absolute;
    left:     10px;
    top:      10px;
    border:   1px solid #003366;
}