/* 
    Created on : 31-gen-2016, 20.15.20
    Author     : gflor
*/

.fadein { 
    position:   relative;
    height:     380px;
    width:      480px;
    margin:     0 auto;
    clear:      both;
    
}

.fadein img {
    position:   absolute;
    left:       10px;
    top:        10px;
    border:     1px solid #003366;
    max-height: 380px;
    max-width:  480px;
}

.fadeinds { 
    position:   relative;
    height:     384px;
    width:      256px;
    margin:     0 auto;
    clear:      both;
    
}

.fadeinds img {
    position: absolute;
    left:     10px;
    top:      10px;
    border:   1px solid #003366;
}

#submenu {
    display: inline;
    float:left;
    width:100%;
    overflow:hidden;
    position:relative;
}

#submenu a {
    background:      url('../media/submenu.png') no-repeat;
    color:           white;
    display:         block;
    font-weight:     bold;
    text-align:      center;
    text-decoration: none;
    height:          43px;
    width:           320px;
}
    
#submenu a:hover, #submenu a.active {
    background: url('../media/act_submenu.png') no-repeat;
}

#submenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#submenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
