/* 
    Created on : 28-gen-2016, 19.45.11
    Author     : gflor
*/

/* -- Header -- */
#header{
    height: 100px;
    background-color: black;
}

h1.logo{
    background:  url('../img/logo.png') no-repeat;
    margin-top:  20px;
    margin-left: 15px;
}

h1.logo a {
    height:      75px;
    width:       315px;
    overflow:    hidden;
    line-height: 9999em;
    display:     block;
}

ul#menu {
    list-style: none;
    margin-top: 50px;
}

#menu li {
    float: left;
}

#menu li a {
    background:      url('../img/button.png') no-repeat;
    color:           white;
    display:         block;
    font-weight:     bold;
    height:          43px;
    line-height:     50px;
    width:           166px;
    text-align:      center;
    text-decoration: none;
}
#menu li a:hover, #menu li a.active {
  
}