/* 
    Created on : 28-gen-2016, 19.45.11
    Author     : gflor
*/

/* -- Header -- */
#header{
    height: 100px;
}

body{
    background-color: black;
}

h1.logo{
    background:  url('../img/logo.png') no-repeat;
    margin-top:  20px;
    margin-left: 15px;
    float: left;
}

h1.logo a {
    height:      75px;
    width:       315px;
    overflow:    hidden;
    line-height: 9999em;
    display:     block;
}

ul#menu {
    float:         right;
    list-style:    none;
    margin-top:    50px;
    margin-bottom: 20px;
}

#menu li {
    float: left;
}

#menu li a {
    background:  url('../img/button.png') no-repeat;
    color:           white;
    display:         block;
    font-weight:     bold;
    text-align:      center;
    text-decoration: none;
    height:          43px;
    width:           166px;
}
    
#menu li a:hover, #menu li a.active {
    background: url('../img/act_button.png') no-repeat;
}

span.menu {
    line-height: 2.5em;
}

footer {
    color:    white;
    position: absolute;
    bottom:   0px;
}