/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3-lug-2015, 20.12.27
    Author     : amm
*/

body {
    background-image: url('http://i.imgur.com/xsoYuPe.png');
    background-repeat: repeat;
    font-family: sans-serif;
    color: #dcdcdc;
}
.cl1 {
    text-align: right;
}